* {
    box-sizing: border-box;
}

.container {

}

.mainbox {
    background-color: blue;
    text-align: center;
    color: white;
}

.mainbox img {
    margin: auto;
    border-radius: 50%;
    margin-top: 50px;
    /*margin-bottom: 20px;*/
}

.mainbox h6 {
    color: #80A7F7;
}

.coffee {
    border: 3px solid white;
    word-wrap: normal;
    width: 30vw;
    margin: auto;
    margin-bottom: 20px;
}

.row-inline {
    flex-direction: row;
}

.welcomefooter {
    display: flex;
    flex-direction: row;
}

.welcomefooterleft {
    flex: 1;
}

.welcomefooterright {
    flex: 1;
}

.welcomefooterright i {
    margin-top: 21px;
}

.aboutmetitle {
    color: blue;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
}

.aboutmebody {
    margin-left: 5px;
}

.fa-angle-right {
    color: blue;
    margin-right: 10px;
}

.aboutmebody ul {
    margin-left: 5px;
    list-style: none;
    padding: 0;
}

.pairshapedtitle {
    color: blue;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
}

.pairshaped {
    margin-left: 5px;
}

.suzukititle {
    color: blue;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
}

.suzukibody {
    margin-left: 5px;
}

@media screen and (min-width: 555px) {
    .container {
        display: flex;
    }
    .bottomBox, .mainbox {
        flex: 1;
    }
}



@media screen and (min-width: 768px) {
        .flexBox {
        display: flex;
    }
    .aboutmetitle, .pairshapedtitle, .suzukititle {
        flex: 1;
    }
    .aboutmebody, .pairshaped, .suzukibody {
        flex: 3;
        margin-top: 18px;
    }

    /*.flexBox, .aboutmetext, .bottomBox {
        display: flex;
    }
    /*.aboutmetext {
            display: flex;
        }*/
        /*.aboutmetitle, .pairshapedtitle {
            flex: 1;
        }
        .aboutmebody, .pairshaped {
            flex: 3;
        }
    }*




/*@media screen and (min-width: 768px) {
    .box {
        background: yellow;
    }
}*/
